# Keycloak Configuration
VITE_KEYCLOAK_URL=http://192.168.0.12:8080
VITE_KEYCLOAK_REALM=gb-realm
VITE_KEYCLOAK_CLIENT_ID=berlink-client

# Backend API
VITE_API_URL=http://192.168.0.12:8090/api

# Default Site ID (optional)
VITE_DEFAULT_SITE_ID=1
